.c-ticket {
  background: white;
  padding: var(--spacing-01);
  width: var(--width);
  min-height: var(--width);
  display: flex;
  flex-flow: column;
  gap: var(--spacing-01);
  align-items: center;
  color: black;
  text-decoration: none;
}

.c-ticket .birb {
  background: url("/img/birb.png");
  background-size: calc(48px * var(--scale)), auto;
  height: calc(48px * var(--scale));
  width: calc(48px * var(--scale));
  display: block;
  background-repeat: no-repeat;
  background-position-y: calc(-48px * var(--scale) * var(--index));
}

.c-ticket .qr {
  width: calc(74px * var(--scale));
}

.c-ticket a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.c-ticket .info {
  display: flex;
  flex-flow: row;
  gap: var(--spacing-01);
  align-items: center;
  justify-content: space-between;
}

.c-ticket footer {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-01);
  align-items: center;
}

.c-ticket .gems {
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-01) * var(--scale));
  line-height: 1em;
  padding-left: calc(5px * var(--scale));
  padding-right: calc(10px * var(--scale));

  width: calc(55px * var(--scale));
  height: calc(10px * var(--scale));
  background: url("/img/counter-bg.png");
  background-size: calc(55px * var(--scale)), auto;
  background-repeat: no-repeat;
}
