@font-face {
  font-family: "Corset";
  src: url("/fonts/Corset8.woff2") format("woff2"),
    url("/fonts/Corset8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
