* {
  font-smooth: never !important;
  -webkit-font-smoothing: !important;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

body {
  font-family: "Corset";
}

h2 {
  font-size: calc(8px * var(--scale) * 2);
  font-weight: normal;
}

p,
span,
a {
  font-size: calc(8px * (var(--scale) * 2));
}

a {
  text-decoration: none;
  color: black;
}

.site-navigation {
  width: 100%;
  background: black;
  color: white;
  padding: var(--spacing-01) var(--spacing-04);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.site-navigation a {
  color: white;
  text-decoration: underline;
}

.site-navigation a:hover {
  color: var(--color-03);
}

.site-navigation img {
  width: 1em;
  height: auto;
}

footer.site-navigation {
  position: absolute;
  top: 100vh;
}
