* {
  font-smooth: never !important;
  -webkit-font-smoothing: !important;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

form {
  display: flex;
  flex-flow: column;
  padding: var(--spacing-03);
  gap: var(--spacing-02);
  border: 2px solid black;
  border-radius: var(--spacing-01);
  background: black;
}

input {
  width: 100%;
  min-width: none;
  background: white;
  color: black;
  padding: 0 var(--spacing-02);
  border: 2px solid black;
  border-radius: var(--spacing-h);
}

button {
  margin-left: auto;
  width: max-content;
  background: white;
  color: black;
  padding: var(--spacing-01) var(--spacing-02);
  border: 2px solid black;
  border-radius: var(--spacing-h);
  cursor: pointer;
}

label {
  color: white;
}

body {
  font-family: "Corset";
}

h1,
h2,
h3,
p,
span,
time,
button,
input,
label,
a {
  line-height: calc(11px * var(--scale));
  /* line-height: 1em; */
  font-size: calc(8px * (var(--scale) * 2));
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

.site-navigation {
  width: 100%;
  background: black;
  color: white;
  padding: var(--spacing-01) var(--spacing-02);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.site-navigation button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.site-navigation button,
.site-navigation a {
  color: white;
  text-decoration: underline;
}

.site-navigation button:hover,
.site-navigation a:hover {
  color: var(--color-03);
}

.site-navigation nav {
  display: flex;
  flex-flow: row;
  gap: var(--spacing-02);
}

.site-navigation img {
  width: 1em;
  height: auto;
}

footer.site-navigation {
  position: absolute;
  top: 100vh;
}
